/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F8F9;
    font-family: 'Lato', sans-serif;
}

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

header img{
    margin-left: 2rem;
    vertical-align: top;
}

header h1{
    display: inline-block;
    padding-left: .5rem;
    font-size: 3rem;
}

.background-color-box{
    background-color: white;
}

#main-container{
    width: 80%;
    margin: 0 auto;
}

section#button button{
    padding: .3rem;
    border: none;
}

section#button #add-task{
    margin: 1.5rem .3rem 1.5rem 4rem;
    color: white;
    background-color: #46ADF1;
    border-color: #46ADF1;
    border-radius: .5rem;
}

section#button #add-section{
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: .5rem;
}

div.divider{
    height: .2rem;
    background-color: #f5f8f9;
}

main#main-container section.margin{
    margin: 2rem 4rem;
    padding-bottom: .8rem;
}

section.margin ul.list{
    list-style-type: none;
}

ul.list li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.list span.entity{
    border: .1rem solid;
    border-radius: 1.5rem 1.5rem;
    padding: .1rem .35rem;
}

ul.list span.check{
    color: green;
    border-color: green;
}

ul.list span.none{
    color: red;
    border-color: red;
}

ul.list span.color-shape{
    color: white;
    font-size: .6rem;
    padding: .5rem;
    border-radius: 1rem;
    margin: .3rem;
}

ul.list span.editorial{
    background-color: #45ABE9;
}

ul.list span.q1-goals{
    background-color: violet;
}

ul.list span.recruiting{
    background-color: #0ba674;
}

ul.list span.mobile{
    background-color: orange;
}

ul.list span.website{
    background-color: magenta;
}

ul.list span.sales{
    background-color: #ab9c23;
}